body {
    background-color: rgb(141, 32, 141);
}

header {
    width: 100%;
    overflow:hidden;
    background-color: deeppink;
    margin-bottom: 20px;
}

.wrapper {
    width: 100%;
    max-width: 1000px;
    margin:auto;
    overflow: hidden;
}

header h1 {
    color: white;
    font-size: 50px;
    line-height: 30px;
    float:left;
}

#logo{
    position:absolute;
    top: 2%;
    left: 1%;
}


.logos{
    position:absolute;
    top: 5%;
    right: 10px;
    
}

section{
    width: 100%;
}

.section1{
    position: absolute;
   height: 10px;
   width: 250px;
   top: 250px;
   right: 950px;
}

.section2{
   height: 10px;
   width: 250px;
   position: absolute;
   right: 530px;
   top: 250px;
}

.section3{
   position:absolute;
   height: 10px;
   width: 250px;
   top: 250px;
   right: 100px;
}

#menu{
    position: absolute;
    right: 350px;
    top: 120px;
}

.footer1{
    background-color: deeppink;
    position: absolute;
    top: 1450px;
    width: 98.8%;
}

.footer2{
    background-color: deeppink;
    position: absolute;
    top: 950px;
    width: 98.8%;
}

.footer3{
    background-color: deeppink;
    position: absolute;
    top: 800px;
    width: 98.8%;
}


.boton{
    border: 1px solid #e70dd1;
    padding: 8px;
    background-color: #e70dd1;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Helvetica', sans-serif;
    border-radius: 50px;
}

.section4{
    position: absolute;
   height: 10px;
   width: 250px;
   top: 250px;
   right: 950px;
}

#mabelita{
    position:absolute;
   height: 200px;
   width: 200px;
   top: 250px;
   right: 550px;
}

.section5{
    position:absolute;
   height: 10px;
   width: 400px;
   top: 350px;
   right: 200px;
}
 .h4color{
    background-color: #e70dd1;
    border-radius: 10px;
 }

 #mabelita{
    border-radius: 50px;
    border: 5px solid #e70dd1;
 }

.boton1{
    border: 1px solid #e70dd1;
    padding: 8px;
    background-color: #e70dd1;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Helvetica', sans-serif;
    border-radius: 50px;
}
.contacto2{
    background-color: #fdc2de;
    width: 100%    
}

.formasdepago{
    background-color: #fdc2de;
    width: 100% 
}

.envios{
    background-color: #fdc2de;
    width: 100%   
}

.map{
    width: 100%;
    background-color: #fdc2de;
}

