section{

 div{
   div.card-body{
    background-image: linear-gradient(rgb(248, 148, 165), rgb(248, 217, 221));
   }
   
   div.card{
    height: 180px;
   }

 }

 h2{
    color: rgb(48, 47, 47);
    font-family: 'Dancing Script', cursive;
   font-size: 34px;
 }

 a{
    background-color: rgb(254, 173, 203) !important;
   }

    
 h5{
   font-family: 'Dancing Script', cursive;
   font-size: 34px;
 }
  
 p{
   font-family: 'Philosopher', sans-serif;
 }

 h4{
   font-family: 'Philosopher', sans-serif;
 }


}